@model MandatoryAssignment.Models.HourlyViewModel
@{
    ViewBag.Title = "Hourly | Bar chart";
}
@Html.Partial("_StatMenu")
<div class="row">
    <div class="col-md-10" id="chart">
        @Html.Partial("_BarChart")
    </div>
    <div class="btn-group-vertical col-md-2" role="group">
        @Html.Partial("_ChartMenu") 
        @using (Html.BeginForm("BarChart", "Hourly"))
        {
            <div class="form-group">
                @Html.DropDownList("stofNavn", new SelectList(ViewBag.Stof, "StofNavn"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("maalested", new SelectList(ViewBag.Maalested, "Maalested"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBox("date", (string)ViewBag.Date, new { @class = "form-control", @placeholder = "Date" })
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Show selected">
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            setInterval(function () {
                $('#chart').load('Hourly/_BarChart').show();
            },
            30000);
        });
    </script>
}
