<div class="row btn-group-vertical col-md-2" role="group">
    @Html.ActionLink("Line chart", "Index", null, new {@class = "btn btn-default"})
    @Html.ActionLink("Bar chart", "BarChart", null, new {@class = "btn btn-default"})
    @Html.ActionLink("Donut chart", "DonutChart", null, new {@class = "btn btn-default"})

    @if (Request.Url.AbsoluteUri.Contains("BarChart"))
    {
        using (Html.BeginForm("BarChart", "Chart"))
        {
            <div class="form-group">
                @Html.DropDownList("stofNavn", new SelectList(ViewBag.Stof, "StofNavn"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("maalested", new SelectList(ViewBag.Maalested, "Maalested"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Show selected">
            </div>
        }
    }
    else if (Request.Url.AbsoluteUri.Contains("DonutChart"))
    {
        using (Html.BeginForm("DonutChart", "Chart"))
        {
            <div class="form-group">
                @Html.DropDownList("stofNavn", new SelectList(ViewBag.Stof, "StofNavn"), "Select all", new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.DropDownList("maalested", new SelectList(ViewBag.Maalested, "Maalested"), "Select all", new {@class = "form-control"})
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Show selected">
            </div>
        }
    }
    else if (Request.Url.AbsoluteUri.Contains("WeeklyIndex"))
    {
        using (Html.BeginForm("WeeklyIndex", "Chart"))
        {
            <div class="form-group">
                @Html.DropDownList("stofNavn", new SelectList(ViewBag.Stof, "StofNavn"), "Select all", new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.DropDownList("maalested", new SelectList(ViewBag.Maalested, "Maalested"), "Select all", new {@class = "form-control"})
            </div>
            
            <div class="form-group">
                @Html.TextBox("weekNumber", (string)ViewBag.CurrentWeek, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Show selected">
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("Index", "Chart"))
        {
            <div class="form-group">
                @Html.DropDownList("stofNavn", new SelectList(ViewBag.Stof, "StofNavn"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("maalested", new SelectList(ViewBag.Maalested, "Maalested"), "Select all", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Show selected">
            </div>
        }
    }
</div>