@model MandatoryAssignment.Models.MonthlyStat
@{
    ViewBag.Title = "Donut Chart";
}
<div class="row">
    <div class="col-md-10">
        <div id="graph"></div>
    </div>
    <div class="btn-group-vertical col-md-2" role="group">
        @Html.ActionLink("Line chart", "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Bar chart", "BarChart", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Donut chart", "DonutChart", null, new { @class = "btn btn-default" })
    </div>
</div>
<script>
    new Morris.Donut({
        element: 'graph',
        data: [
            { label: 'January', value: @Model.January },
            { label: 'February', value: @Model.February },
            { label: 'March', value: @Model.March },
            { label: 'April', value: @Model.April },
            { label: 'May', value: @Model.May },
            { label: 'June', value: @Model.June },
            { label: 'July', value: @Model.July },
            { label: 'August', value: @Model.August },
            { label: 'September', value: @Model.September },
            { label: 'October', value: @Model.October },
            { label: 'November', value: @Model.November },
            { label: 'December', value: @Model.December },
        ],
        resize: true
    });
</script>
